html,
body {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

.navbar-brand {
  font-weight: bolder;
}
.nav-item {
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: unset;
  font-style: bold;
  font-weight: bolder;
}

#navbarDropdownMenuLink {
  color: black;
  padding-left: 10px;
  border: 2px #4dff00 solid;
  border-radius: 3px;
}

.social {
  padding: 0;
  z-index: 2;
  text-align: left;
  align-items: flex-start;
  margin-top: 50px;
  position: fixed;
  list-style: none;
  flex-direction: column;
  display: flex;
  top: 50%;
  border-radius: 3px;
  /* -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);*/
  transform: translateY(-50%);
}

.social a {
  display: block;
  text-align: center;
  padding: 6px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.fa-linkedin {
  color: rgb(6, 101, 133);
  font-size: 1.8rem;
}
.fa-facebook {
  color: blue;
  font-size: 1.8rem;
}
.fa-twitter {
  color: rgb(43, 19, 251);
  font-size: 1.8rem;
}
.fa-google {
  color: rgb(255, 0, 0);
  font-size: 1.8rem;
}

.jumbotron {
  background-image: linear-gradient(lightblue, white);
  text-align: center;
  margin-top: 60px;
}

.jumbotron h2 {
  margin: auto;
  width: 75%;
}

#appSummary {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.jumbotron form {
  width: 350px;
  margin: auto;
}

.about-us {
  position: relative;
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  justify-content: center;
  background-size: cover;
  padding: 40px;
  background-image: url("https://images.livemint.com/rf/Image-621x414/LiveMint/Period1/2013/08/17/Photos/team_work--621x414.jpg");
}

.about-us h2 {
  padding: 16px;
  color: #000;
  margin: 5px;
  background: white;
  display: inline-block;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.about-us p {
  border-radius: 5px;
  background: rgb(133, 220, 246);
  color: black;
  padding: 20px;
  margin: auto;
  max-width: 80%;
}
#appSummary {
  text-align: center;
  margin-top: 5px;
}

.imp-alerts {
  width:80%;
  padding-top: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: auto;
  box-sizing:border-box;
}

.scrolling-box {
  background-color: #eaeaea;
  display: block;
  height: 200px;
  overflow-y: scroll;
  text-align: center;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  justify-content: space-between;
}

.imp-alerts h1 {
  margin-top: 10px;
}

.location {
  max-width:75%;
  margin: auto;
  padding: 5px;
}

.location h1 {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.carousel-indicators li {
  background: blue;
  display: inline-block;
  border: 3px #000 blue ;
}

.box {
  margin-top: 200px;
  background-color: red;
  width:500px;
  height: 500px;;
}