html,
body {
  background-size: cover;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

.navbar-brand {
  font-weight: bolder;
}
.nav-item {
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: unset;
  font-style: bold;
  font-weight: bolder;
}

#navbarDropdownMenuLink {
  color: black;
  padding-left: 10px;
  border: 2px #4dff00 solid;
  border-radius: 3px;
}
@media only screen and (min-width: 768px) {
  #navbarDropdownMenuLink {
    padding: 5px;
    margin-right: 10px;
  }
}

.social {
  padding: 0;
  z-index: 2;
  text-align: left;
  align-items: flex-start;
  margin-top: 50px;
  position: fixed;
  list-style: none;
  flex-direction: column;
  display: flex;
  top: 50%;
  border-radius: 3px;
  /* -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);*/
  transform: translateY(-50%);

  margin-left: 2px;
}

.social a {
  display: block;
  text-align: center;
  padding: 6px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.fa-linkedin {
  color: rgb(6, 101, 133);
  font-size: 1.8rem;
}
.fa-facebook {
  color: blue;
  font-size: 1.8rem;
}
.fa-twitter {
  color: rgb(43, 19, 251);
  font-size: 1.8rem;
}
.fa-google {
  color: rgb(255, 0, 0);
  font-size: 1.8rem;
}

.jumbotron {
  background-image: linear-gradient(lightblue, white);
  text-align: center;
  margin-top: 60px;
}

.jumbotron h2 {
  margin: auto;
  width: 75%;
}

#appSummary {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.jumbotron form {
  width: 350px;
  margin: auto;
}

.know-more {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.about-us {
  position: relative;
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  justify-content: center;
  background-size: cover;
  padding: 40px;
  background-image: url("https://images.livemint.com/rf/Image-621x414/LiveMint/Period1/2013/08/17/Photos/team_work--621x414.jpg");
}

.about-us h2 {
  padding: 16px;
  color: #000;
  margin: 5px;
  background: white;
  display: inline-block;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.about-us p {
  border-radius: 5px;
  background: rgb(133, 220, 246);
  color: black;
  padding: 20px;
  margin: auto;
  max-width: 85%;
}
#appSummary {
  text-align: center;
  margin-top: 5px;
}

.imp-alerts {
  width: 80%;
  padding-top: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: auto;
  box-sizing: border-box;
}

.imp-alerts h1 {
  padding: 5px;
  margin-bottom: -1px;
  border-radius: 3px;
}

.scrolling-box {
  background-color: #eaeaea;
  display: block;
  height: 200px;
  overflow-y: scroll;
  text-align: center;
}

.imp-alerts p {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 30%;
  justify-content: space-between;
}

.imp-alerts h1 {
  padding: 10px;
  margin-top: 10px;
}

.location {
  max-width: 80%;
  margin: auto;
  padding: 5px;
}

.location h1 {
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  margin-bottom: -1px;
  border-radius: 3px;
}

.carousel-indicators li {
  background: blue;
  display: inline-block;
  border: 3px #000 blue;
}

.carousel-item h2 {
  padding:25px;
}

.team-container {
  /* background:yellow; */
  margin: auto;
  width: 80%;
  margin-top: 50px;
}

.team-container h1 {
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  justify-content: center;
  text-align: center;
}

.team-container p {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: monospace;
}

.card-group {
  margin-top: 20px;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
.contact-us {
  border-radius: 3px;
  margin: auto;
  margin-top: 50px;
  width: 80%;
  border: 1px solid black;
  padding: 20px;
}

.contact-us h1 {
  width: 100%;
  margin: auto;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 3px;
}

.footer {
  width: 100%;
  margin-top: 50px;
  padding-top: 50px;
  background: rgb(156, 241, 227);
}

.footer .footer-copyright {
  color: white;
  background: blue;
}

.footer .footer-copyright a {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: bold;
}

.sign-up-using {
  list-style: none;
  display: flex;
}

.sign-up-using li {
  display: inline;
}

.fa-github {
  font-size: 1.9rem;
}

.sign-up-using h4 {
  margin-left: -25px;
  padding-top: 10px;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.sign-up-using {
  background: white;
  border-radius: 5px;
  margin: auto;
}

ul.sign-up-using {
  margin-top: 0px;
}

#signup-btn {
  width: 100px;
  height: 50px;
  background: rgb(152, 247, 11);
  border-radius: 3px;
  color: white;
  transition: ease-in 0.2s;
  font-size: 1.3rem;
}

#signup-btn:hover {
  background: black;
  color: white;
}
#gg {
  font-size: 2rem;
  margin: 8px;
}

#gh {
  font-size: 2rem;
   margin: 8px;
}

#ld {
  font-size: 2rem;
   margin: 10px;
}

#fb {
  font-size: 2rem;
   margin: 8px;
}

#ok {
  font-size: 2rem;
   margin: 8px;
}
